.book-home-tile{
  text-align: center;
  background: #FEFFF1;
  padding-top: 10px;
  padding-bottom: 10px;
  text: white;
  width: 300px;
  box-shadow: 15px 15px 10px #484848;
}

.top-bar{
  background: #B22222;
  height: 45px;
}
body{
  background: #FFF8DC;
}

.book-tile{
  text-align: center;
  width: 500px;
  background: #FEFFF1;
  box-shadow: 15px 15px 10px #484848;
}

p{
  color: black;
}

.company-name{
  font-size: 30px;
}

.book-image{
  width: 150px;
}

.show-cover{
  width: 200px;
}

.picture{
  width: 30px;
  height: 30px;
  padding-top: 10px;
}

.up-selected {
  background-color: lime;
}

.down-selected {
  background-color: red;

.bar{
  width: 500px;
  padding-right: 10px;
  padding-left: 50px;
}

.review-rating{
  width: 100px;
  padding-left: 10px;
  text-align: left;
}

.review-text-body{
  width: 600px;
  padding-left: 10px;
  text-align: left;
}

.form-actions{
  padding-left: 20px;
}

.book-body{
  width: 600px;
  padding-left: 20px;
  text-align: left;
}

.book-author{
  width: 600px;
  padding-left: 10px;
  text-align: left;
}

.book-page-number{
  width: 100px;
  padding-left: 20px;
  text-align: left;
}

.book-summary{
  width: 600px;
  padding-left: 10px;
  text-align: left;
}

.book-cover{
  width: 500px;
  padding-left: 10px;
  text-align: left;
}

.book-form{
  text-align: center;
}
